/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active {
    outline: none;
}
a:focus,a:active {
    outline: none;
}
nav,footer,header,aside {
    display: block;
}
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,body {
    font-family: Poppins;
    line-height: 1;
    font-size: 18px;
    font-weight: normal;
    color: #232735;
    background-color: #fff;
    letter-spacing: -0.03em;
}

/*----------------------------------------------------------------------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

/*---HEADER-------------------------------------------------------------------------*/

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 40px 0px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {}

.header__menu {
    
}

.menu {}

.menu__body {}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    margin: 0px 0px 0px 35px;
}

.menu__link {
    font-size: 18px;
    line-height: 140%;
    color: #232735;
}

.menu__link:hover {
    color: #FFC107;
    text-decoration: underline;
    transition: all 0.3s ease 0s;
}

.header__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #232735;
    border-radius: 45px;
    border: 2px solid #232735;
    padding: 12px 25px;
}

.header__button:hover {
    background-color: #232735;
    color: #fff;
    transition: all 0.5s ease 0s;
}

/*---INCREASE YOUR-------------------------------------------------------------------------*/

.main {}

.increase-your {
    
}

.increase-your__container {
    
}

.increase-your__body {
    margin: 190px 0px 0px 0px;
    position: relative;
    z-index: 10;
}

.increase-your__title {
    font-weight: 600;
    font-size: 130px;
    line-height: 100%;
    letter-spacing: -0.05em;
    width: 660px;
    margin: 0px 0px 120px 0px;
}

.increase-your__title span {
    color: #FFC107;
}

.increase-your__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    margin: 0px 0px 90px 0px;
}

.increase-your__text span {
    font-weight: 600;
    color: #FFC107;
}

.increase-your__button {}

.button {
    background: #FFC107;
    border-radius: 170px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 17px 45px;
}

.button:hover {
    background: #1CBA6E;
    transition: all 0.5s ease 0s;
}

._ibg {
    position: relative;
    top: 0;
    right: 0;
}

.increase-your__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
}

/*---WHO WE'VE-------------------------------------------------------------------------*/

.who-weve {
    margin: 200px 0px 0px 0px;
}

.who-weve__container {}

.who-weve__text-right {
    margin: 0px 0px 150px 0px;
}

.right-text {
    text-align: right;
    letter-spacing: -0.05em;
}

.text-dark {
    font-weight: 600;
    font-size: 105px;
    line-height: 105%;
    letter-spacing: -0.05em;
}

.text-grey {
    font-weight: 600;
    font-size: 130px;
    line-height: 104%;
    color: #E6EDF3;
}

.who-weve__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px -10px;
}

.who-weve__column {
    flex: 0 1 25%;
    padding: 0px 10px;
}

.who-weve__item {
    display: flex;
    height: 134px;
    border: 1px solid #f3f6f9;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.who-weve__item:hover {
    border: 1px solid #FFC107;
    border-radius: 15px;
    transition: all 0.5s ease 0s;
}

/*---WHO WE ARE-------------------------------------------------------------------------*/

.whoweare {
    margin: 200px 0px 200px 0px;
}

.whoweare__container {
    display: flex;
    flex: 0 1 50%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.whoweare__body {
    width: 50%;
}

.whoweare__title {
    font-weight: 600;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: -0.05em;
}

.whoweare__text {
    font-size: 16px;
    line-height: 160%;
    color: #848A9C;

}

.text-whoweare-1 {
    margin-top: 30px;
}

.text-whoweare-2 {
    margin-top: 15px;
}

.whoweare__partner-logo {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;

}

.whoweare__image {
    width: 40%;
    position: relative;
}

.whoweare__image-item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*---METRICS-------------------------------------------------------------------------*/

.metrics {}

.metrics__container {}

.metrics__text-right {
    margin: 0px 0px 120px 0px;
}

.right-text {}

.grey-text-metrics {
    font-weight: 500;
    font-size: 260px;
    line-height: 106%;
}

.metrics__body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.metrics__column-1 {
    width: 21%;
}

.metrics__column {}

.metrics__item {}

.metrics__item-label {
    font-weight: 500;
    font-size: 63px;
    line-height: 95%;
    letter-spacing: -0.05em;
    margin: 0px 0px 25px 0px;
}

.metrics__item-text {
    font-size: 20px;
    line-height: 140%;
    color: #848A9C;
}

/*---APPROACH-------------------------------------------------------------------------*/

.approach {
    margin: 200px 0px 200px 0px;
}

.approach__container {
    
}

.approach__title {
    font-weight: 600;
    font-size: 105px;
    line-height: 105%;
    letter-spacing: -0.05em;
}

.approach__body {
    margin-top: 100px;
}

.approach__column {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    justify-content: flex-start;
}

.approach__item {
    flex: 0 1 33.333%;
    padding: 0px 15px;
    margin-bottom: 80px;
}

.approach__item:nth-child(4) {
    flex: 0 1 45%;
    margin-bottom: 0px;
}

.approach__item:nth-child(5) {
    flex: 0 1 45%;
    margin-bottom: 0px;
}

.approach__icon {
    margin-bottom: 25px;
    width: 100px;
    height: 100px;
}

.approach__text {
    line-height: 140%;
}

/*---FEATURES-------------------------------------------------------------------------*/

.features {}

.features__container {}

.features__text-right {
    margin-bottom: 130px;
}

.right-text {}

.grey-text-features {
    font-size: 245px;
    line-height: 96%;
}

.text-dark span {
    color: #FFC107;
}

.features__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.features__column {
    flex: 0 1 50%;
}

.features__item:not(:last-child) {
    margin-bottom: 50px;
}

.features__item-title {
    font-size: 42px;
    line-height: 120%;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
}

.features__item-text {
    line-height: 144%;
    color: #848A9C;
}

.features__image {
    flex: 0 1 40%;
}

/*---CUSTOMERS-------------------------------------------------------------------------*/

.customers {
    margin: 200px 0px;
}

.customers__container {}

.customers__text-right {
    
}

.grey-text-customers {
    font-size: 230px;
    line-height: 96%;
}

.customers__body {
    margin-top: 70px;
}

.customer__list {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.customer__item {
    width: 90%;
}

.customer__mark {
    margin-bottom: 50px;
}

.customer__text {
    font-size: 32px;
    line-height: 156%;
    color: #848A9C;
    margin-bottom: 45px;
}

.customer__human {
}

.human-photo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.human-name {
    font-weight: 500;
    font-size: 28px;
    line-height: 114%;
    letter-spacing: -0.05em;
    margin-bottom: 5px;
}

.human-post {
    line-height: 156%;
    color: #848A9C;
}

/*---STEPS-------------------------------------------------------------------------*/

.steps {
    
}

.steps__container {}

.grey-text-steps {
    font-size: 190px;
    line-height: 113%;
}

.steps__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 100px;
}

.steps__form {
    flex: 0 0 33.333%;
}

.steps__input {
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    letter-spacing: -0.03em;
    color: #848A9C;
    height: 70px;
    background: #F3F6F9;
    border-radius: 10px;
    padding: 22px 30px;
    margin-bottom: 15px;
    width: 100%;
}

.steps__input:hover {
    background: #E9ECEF;
    border-radius: 15px;
    transition: all 0.5s ease 0s;
}

.steps__input:focus {
    background: #F3F6F9;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(35, 39, 53, 0.05);
    color: #232735;
}

.input-message {
    height: 160px;
}

.start__button {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    height: 70px;
    background: #FFC107;
    border-radius: 170px;
    width: 100%;
}

.start__button:hover {
    background: #1CBA6E;
    transition: all 0.5s ease 0s;
}

.steps__column-body {
    flex: 0 0 60%;
    
}

.steps__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.steps__item {
    
}

.steps__item-title {
    font-size: 42px;
    line-height: 119%;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
}

.steps__item-text {
    font-size: 20px;
    line-height: 140%;
    color: #848A9C;
}

.steps__item-image {
    max-width: 100%;
    height: auto;
}

/*---FOOTER-------------------------------------------------------------------------*/

.footer {
    margin-top: 150px;
    
}

.footer__container {
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer__line {
    width: 1146px;
    height: 1.5px;
    background: #EDEDEE;
    max-width: 1150px;
    margin: 0 auto;
}

.footer__logo {
}

.footer__link {
    font-size: 16px;
    line-height: 188%;
    color: #848A9C;
}

.footer__adress {}

.footer__email {
    font-size: 16px;
    line-height: 188%;
    color: #848A9C;
}

.footer__terms {
    font-size: 16px;
    line-height: 188%;
    color: #848A9C;
}

.footer__privacy {
    font-size: 16px;
    line-height: 188%;
    color: #848A9C;
}

.footer__email:visited,
.footer__terms:visited,
.footer__privacy:visited {
    color: #1CBA6E;
}

.footer__email:hover,
.footer__terms:hover,
.footer__privacy:hover {
    color: #FFC107;
    text-decoration: underline;
    transition: all 0.3s ease 0s;
}

.footer__copyright {}